body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 70% 25%;
}

h1,
h2 {
    color: darkblue;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 2.4em;
    margin-bottom: 0;
}

h3 {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

header {
    background-image: url(../images/bgsky3.jpg);
    background-size: cover;
    grid-column: span 2;
}

header>img {
    float: right;
    position: relative;
    bottom: 100px;
    right: 25%;
}

figure {
    float: left;
}

p>span {
    color: darkblue;
}

aside {
    border: 1px solid #999999;
    background-color: #dddddd;
    grid-column: 2;
    box-sizing: border-box;
}

.content {
    grid-column: 1;
    box-sizing: border-box;
}

footer,
.bottom {
    grid-column: span 2;
}

.bottom {
    width: 100%;
    background-color: #666666;
    color: white;
    line-height: 2em;
}

.bottom>div {
    width: 200px;
    margin-left: 120px;
    display: inline-block;
}

.bottom a {
    color: inherit;
}

.bottom a:hover {
    color: red;
}

footer>p {
    text-align: center;
    background-color: white;
}

.gallery {
    background-color: #999999;
    line-height: 0;
}

.foto {
    display: inline-block;
    border: 1px dotted white;
    margin: 20px;
}

.foto>img {
    height: 180px;
    width: 180px;
    border: 10px solid white;
    box-sizing: border-box;
}